/*@font-face {*/
/*  font-family: Lab Grotesque;*/
/*  src: url("fonts/font/LabGrotesque-Black.ttf") format("ttf");*/
/*  src: url("fonts/font/LabGrotesque-Black.woff") format("woff");*/
/*  src: url("fonts/font/LabGrotesque-Black.woff2") format("woff2");*/
/*}*/

@font-face {
  font-family: 'Lab-Grotesque-Medium';
  src: url('~@/assets/fonts/LabGrotesque-Medium.eot');
  /*src: local('Lab Grotesque Medium'), local('LabGrotesque-Medium'),*/
  src: url('~@/assets/fonts/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype');
  src: url('~@/assets/fonts/LabGrotesque-Medium.woff2') format('woff2');
  src: url('~@/assets/fonts/LabGrotesque-Medium.woff') format('woff');
  src: url('~@/assets/fonts/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lab-Grotesque-Light';
  src: url('~@/assets/fonts/LabGrotesque-Light.eot');
  /*src: local('Lab Grotesque Light'), local('LabGrotesque-Light'),*/
  src: url('~@/assets/fonts/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/LabGrotesque-Light.woff2') format('woff2'),
  url('~@/assets/fonts/LabGrotesque-Light.woff') format('woff'),
  url('~@/assets/fonts/LabGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*@font-face {*/
/*  font-family: Lab Grotesque-Light;*/
/*  src: url("fonts/font/LabGrotesque-Light.eot") format("eot");*/
/*  src: url("fonts/font/LabGrotesque-Light.ttf") format("ttf");*/
/*  src: url("fonts/font/LabGrotesque-Light.woff") format("woff");*/
/*  src: url("fonts/font/LabGrotesque-Light.woff2") format("woff2");*/
/*}*/
